name: Deploy on Merge to Main

on:
  push:
    branches:
      - main

jobs:
  manual-approval:
    runs-on: ubuntu-latest

    environment:
      name: production  # Esto activa la espera de aprobaci贸n manual
      url: https://example.com  # URL de despliegue, puede ser opcional

    steps:
      - name: Esperando aprobaci贸n manual
        run: echo "El proceso de despliegue est谩 esperando aprobaci贸n manual..."

  deploy:
    needs: manual-approval
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del c贸digo fuente
        uses: actions/checkout@v4

      - name: Simulando despliegue
        run: echo " Desplegando aplicaci贸n en producci贸n..."
